# Ignorar a pasta de dependências do npm
node_modules/
node_modules/.cache

# Ignorar arquivos de build
build/
dist/
out/

# Ignorar arquivos de configuração locais
env.*
.env
.env.local
.env.*.local

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários
.DS_Store
Thumbs.db

# Ignorar arquivos de configuração do editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
node_modules
